@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
	font-family: 'Noto Sans KR', sans-serif;
}
			/* 회원가입 */
/* 회원가입 전체 */		
.joinwrap{
	width: 100%;
	padding: 50px;	
}
.signupform{
	border-collapse: collapse;
	/* border: 1px solid #000; */
	width: 28rem;
	margin: 0 auto;
	/* text-align: center; */
}

/* 회원가입 타이틀 */
.category_signup{
	font-size: 28px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
	letter-spacing: 2px;
	font-weight: 900;
}

.signup_label{
	padding: 1.2em;
	font-size: 13px;
	letter-spacing: 0.5px;
	/* border: 1px solid #E9E9E9; */
}


.signup_name{
	margin-bottom: 10px;
}
			/* 회원가입 input */
/* .id_input{
	width:356px;
	height: 32px;
	padding: 0 0 0 10px;
	border: 1px solid #E9E9E9;
} */

.duid_input{
	width:80px;
	height: 36px;
	border: 0;
}

.signup_input{
	width: 440px;
	height:40px;
	padding: 0 0 0 10px;
	margin-top: 6px;
	border: 1px solid #E9E9E9;
}



		/* submit 버튼 전체 영역  */
.signup_btnbox{
	padding: 20px;
	text-align: center;
}

.signup_btnbox input{
	width: 178px;
	height: 44px;
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 10px;
	border: 0;
}

.signup_btnbox input:hover{
	border:0;
	background: #333333;
	color:#ffffff;
	
}
		/* 유효성 검사 msg */
.checkok{
	color: green;
	font-size: 12px;
	font-weight:400;
	letter-spacing: 1px;
}

.checkno{
	color: red;
	font-size: 12px;
	letter-spacing: 1px;
}
			/* 회원가입 끝  */



			/* 로그인 화면 */
/* 로그인 wrap */
.loginwrap{
	width: 100%;
	padding: 50px;
}
			
/* 로그인 타이틀 */
.category_login{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
	letter-spacing: 2px; font-weight: 900; font-size: 28px;
	/* border: 1px solid #E9E9E9; */
	
}

/* 로그인 폼 전체 */
.loginform{
	border-collapse: collapse;
	width: 420px;
	height: 350px;
	margin: 0 auto;	
	margin-bottom: 40px;
	/* border: 1px solid #E9E9E9; */
}

/* 아이디 패스워드 항목란  */
.login_label{
	margin: 0 auto;
	font-size:13px; font-weight: 300px; text-align: left;
	width: 120px;
	/* border: 1px solid #e9e9e9;*/
}

#idlb,#pwlb{height: 30px;}

#idpwlb{height: 15px;}

#loginip{text-align: center; height: 40px;}

.loginlb{margin-left:20px; letter-spacing: 0.5px; font-weight: 300px;}

/* 로그인 폼 td */
.loginbtn{
	width: 380px;
	height: 40px;
	font-size: 14px;
	text-indent: 10px;
	border: 1px solid #E9E9E9;
}

/* 로그인유지, 비밀번호 찾기 */
.findidpw,.rmme, #rememberMe{
	font-size: 13px;
	font-weight: 300px;
	letter-spacing: 0.5px;
}

/*  */
.login_sbtn{
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
	
}

/* 로그인 버튼란 */
.login_btn{
	height:40px;
	font-size: 13px; 
	font-weight: 300px;
	/* padding:8px; */
	padding-left:10px;
	/* border: 1px solid #E9E9E9; */
}

/* 로그인 버튼 속성 */
.login_submit{
	width: 186px;
	height: 40px;
	color: #ffffff;
	font-size: 13px;
	letter-spacing: 0.5px;
	cursor:pointer;
	border: 0;
	margin: 6px;
}

#loginsub{
	background-color: #999999;
}

#signupbtn{ 
	background-color: #333333;
}

/* login with google */
.g-signin2{
	width: 300px;
	justify-content: center;
	/* margin: 30px;	 */
}

.google{
	width:100%;
	padding-top:2px;
	padding-left:15.5px;
	/* border: 1px solid #E9E9E9;  */
}
.googleLogin{
	width: 386px;
	height: 40px;
	color: #999999; font-size: 13px; letter-spacing: 0.5px;
	cursor:pointer;
	border: 0;
}
			/* 로그인 화면 끝 */
			
			
			
			/* 회원정보 css */
/* a 태그 속성 변경 */
a:link{
	text-decoration: none;
	color: #000;
}

a:hover{
	color: #B6CEC7;
}

a:visited{
	text-decoration: none;
}

/* 회원정보 wrap */
.meminfowrap{
	width: 100%;
	padding: 50px;
}

/* 마이페이지 타이틀 */
.category_mypg{
	font-size: 30px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
	letter-spacing: 2px;
	font-weight: 900;
	/* border: 1px solid #e9e9e9; */
	/* background: #e9e9e9; */
}

/* 회원정보 테이블 */
.meminfobox{
	width: 500px;
	margin: 0 auto;
	padding: 20px 20px;
	font-size: 15px;
/* 	border: 1px solid #e9e9e9; */
	/* background: #e9e9e9; */
}

/* mypage 항목(id, email, pw) */
/* 내 이미지 등록란 */
.myimg{
	width:160px; height:160px; margin: 12px auto; text-align: center; 
	border: 1px solid #999999;
	border-radius: 90px 90px;
}

/* 이미지 등록 링크 */
#mypgimg{
	text-align: center;
	font-size: 14px; font-weight: 300; letter-spacing: 1px;
}

.mypglb{
	font-size: 13px; font-weight: 300; letter-spacing: 0.5px;
}

.meminfo{
	padding:10px;
	width:150px;
	text-align: left;
}


/* required */
.required{
	font-size: 18px;
	font-weight:300px;
	color: red;
}

/* 회원정보 input */
.meminfoip{
	width: 500px;
	height:40px;
	padding: 0 0 0 10px;
	margin-top: 6px;
	font-size: 13px;
	letter-spacing: 0.5px;
	font-weight: 300;
	border: 1px solid #e9e9e9;
}

/* 회원정보 버튼 박스 */
.mypgupdate{
	margin: 30px auto;
	width: 520px;
	display:flex;
	justify-content: space-around;
}

/* 정보 수정, 탈퇴 버튼 */
.update, .deletemem{
	font-size: 14px;
	letter-spacing: 0.5px;
	width: 240px;
	height:40px;
	border:0;
}

/* msg */
.mypgmsg{
	color: red; 
	font-size: 14px; 
	text-align: center; 
	letter-spacing: 1px;
	margin-bottom: 50px;
}
			/* 회원정보 끝 */
			
			
			/* 비밀번호 찾기 */
/* 전체 영역 */
.passwrap{
	width:100%;
	height:100%;
	margin: 0 auto;
	/* border: 1px solid #000; */
	padding: 63px;
}

/* 비밀번호 찾기 타이틀 */
.passtitle{
	text-align: center;
	padding: 10px;
	font-size: 30px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
	letter-spacing: 1px;
}
.passtext{
	text-align: center;
	font-size: 16px;
	font-weight:300;
	letter-spacing: 0.5px;
}
.findpwForm{
	padding:40px;
	text-align: center;
	/* border: 1px solid #000; */
}
.passinfo{
	padding: 30px;
	margin: 20px;
	/* border: 1px solid #000; */
}

/* 임시 비밀번호 발급 이메일 입력란 */
.findpass{
	width: 380px;
	height: 40px;
	font-size:14px;
	font-weight:300;
	text-indent: 20px;
	letter-spacing: 0.5px;
}

/* 임시 비밀번호 발급 버튼 (이메일 전송) */
#checkEmail{
	width: 240px;
	height: 40px;
	font-size:14px;
	border: 0;
	letter-spacing: 0.5px;
	color: #ffffff;
	background-color: #333333;	
}
			/* 비밀번호 찾기 끝 */
			
			
			/* 회원 탈퇴 화면 */	
.withdrwlwrap{
	/* border: 1px solid #000; */
	width: 100%;
	height:100%;
	padding: 50px;
	font-family: 'Apple SD Gothic Neo';
	letter-spacing: 0.5px;
}

/* 회원 탈퇴 타이틀 */
.wdrwl_title{
	padding: 20px;
	text-align: center;
	/* margin: 50px; */
	letter-spacing: 1px;
}

/* 탈퇴 화면 박스 */
.withdrwlForm{
	width: 800px;
	height:auto;
	text-align: center;
	padding: 60px;
	margin: 0 auto;
	/* background: #e9e9e9; */
	/* border: 1px solid #e9e9e9;  */
}

.wdrwl_txt{
	font-size: 16px;
	font-weight:300;
	letter-spacing: 0.5px;
	margin-bottom: 11px;
}


.repassform{
	padding: 30px;
	/* border: 1px solid #000; */
}

.wdrwlInput{
	width: 300px;
	height: 40px;
	margin: 10px auto;
	font-size:14px;
	font-weight:300;
	text-align: center;
	/* border: 1px solid #E9E9E9; */
}

/* 회원탈퇴 비밀번호 재 확인 */
.confirmbtn{
	width:180px;
	height: 40px;
	border: 0;
	font-size: 14px;
	color: #ffffff;
	background-color: #333333;
}
			
			/* 회원 탈퇴 성공 */
.withsuccess_wrap{
	margin: 0 auto;
	margin-top: 50px;
	width: 800px;
	height: auto;
	text-align: center;
	padding: 120px;
	/* border: 1px solid #e9e9e9; */
	letter-spacing: 0.5px;
	font-family: 'Apple SD Gothic Neo';
}

.successmsg{
	margin: 10px;
	font-size: 26px;
	font-weight: 500;
	/* border: 1px solid #e9e9e9; */
}

.suc_submsg{
	width: auto;
	height: auto;
	padding:20px;
	font-size: 15px;
	/* border: 1px solid #e9e9e9; */
}

.mainbtnBox{
	padding:20px;
	/* border: 1px solid #e9e9e9; */
}

.gotoMainbtn{
	width:180px;
	height: 40px;
	border: 0;
	font-size: 14px;
}		

			