@charset "UTF-8";

/* font */
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap); /* 노토산스 */
@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css); /* 스포카 한 산스 */

/* RESET.CSS */
*{	
	/* 본문용 서체 */
	font-family: 'Noto Sans KR','Spoqa Han Sans',  'Spoqa Han Sans JP', 'Sans-serif', 'Noto Sans KR'; 
	margin: 0;
	padding: 0;
	/* 테두리에 따라서 크기를 정하는 속성 */
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
 	/* background-color: pink; */
}

html, body{
	height: 100%;
	width: 100%;
	
	/* footer를 바닥에 고정시키기 위한 속성 */
	display: flex;
	flex-direction: column;
	/* background-color: #e8eaee; */
}

/* ul{
	display: flex;li요소 가로정렬할때 발생하는 여백 제거용
} */

li{
	list-style-type: none;
	/* display: inline-block; */  /* 가로정렬 */
}


/* a 태그  */
a{
	text-decoration: none;
}

a:link{
	color: #000;
}

a:visited{
	color: #000;
}

a:hover{
	color: #E3E4E0;
}

img{
	border: 0;
}

/* 테이블 기본 설정 */
table{
	border-collapse: collapse; /* 표(table)의 테두리와 셀(td)의 테두리 사이의 간격 없애고 겹치는 부분을 한 줄로 나타냄 */
	border-spacing: 0; /* 표(table)의 테두리와 셀(td)의 테두리 사이의 간격 0 */
}
/* END RESET.CSS  */
