<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.mapper.ArticleMapper">

	<!-- 게시글 추가 -->
	<insert id="insert">
	<!-- insert 하기 전 bno 생성 -->
	<selectKey keyProperty="bno" order="BEFORE" resultType="int">
		select max(bno)+1 bno from article
	</selectKey>
     	insert into article (bno, title, category, content, writer, url)
		values(#{bno}, #{title},  #{category}, #{content}, #{writer}, #{url})
	</insert>
	
	<!-- 게시글 조회 -->
	<select id="select" resultType="com.project.domain.ArticleVO">
		select * from article where bno=#{bno}
	</select>
	
	<!-- 게시글 수정 -->
	<update id="update">
		update article
		set title=#{title}, content=#{content}, regdate=now() 
		where bno=#{bno}
	</update>
    
    <!-- 게시글 삭제 -->
    <delete id="delete">
		delete from article where bno=#{bno}
	</delete>
	
	<!-- 게시판 전체 글 조회 -->
	<select id="listAll" resultType="com.project.domain.ArticleVO">
	<![CDATA[
		select * from article where bno > 0 order by bno desc
	]]>
	</select>
	
	<!-- article 게시물 총 갯수 
	<select id="getTotalCount" resultType="int">
		select count(*) from article
	</select>-->
	
	<!-- article 조회수 update -->
	<update id="updateViewcnt" >
		update article set viewcnt = viewcnt+1 where bno = #{bno}
	</update>
	
</mapper>